html, body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#form1 {
    background-color: #b1ffff;

}

#form2 {
    background-color: #e9b1ff;
}

#form1, #form2 {
    padding: 50px;
    position: relative;
}

#container {
    display: flex;
    position: absolute;

}